.food-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadein 1s;
}

.food-item-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-item-name-rating p {
    font-size: 20px;
    font-weight: 500;
}

.food-item-name-rating img {
    width: 70px;
}

.food-item-description {
    color: #676767;
    font-size: 14px;
}

.food-item-price {
    color: tomato;
    font-size: 22px;
    font-weight: 500;
}

.food-item-image-container {
    position: relative;
}

.food-item-image-container .add {
    position: absolute;
    bottom: 15px;
    right: 15px;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    align-items: center;
}

.food-item-counter .add-button,
.food-item-counter .remove-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: black;
}

.food-item-counter .add-button {
    background-color: rgba(0, 128, 0, 0.4);
}

.food-item-counter .remove-button {
    background-color: rgba(255, 0, 0, 0.4);
}

 